/* AddBook.css */
section {
  border-radius: 4px;
  padding: 16px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(195, 41, 41, 0.1);
  width: auto;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  padding-left: 1rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

form {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: 16px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

input {
  width: 28%;
}

#add-book {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  align-self: flex-end;
}

#add-book:hover {
  background-color: #0056b3;
}
